* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}

.main-heading {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 900;
    color: #444;
    background: #00edfa4a;
    width: fit-content;
    padding: 15px 50px;
    border-radius: 12px;
    box-shadow: 0 0 20px #00000030;
    margin: 2rem auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

ul li {
    overflow: hidden;
    outline: 2px solid #444;
    border-radius: 16px;
    width: calc(calc(100% - 3rem) / 4);
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

ul li .shadow-inside {
    background: #3636365e;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
}

@media (max-width: 1200px) {
    ul li {
        width: calc(calc(100% - 2rem) / 3);
    }
}

@media (max-width: 992px) {
    ul li {
        width: calc(calc(100% - 1rem) / 2);
    }
}

@media (max-width: 576px) {
    ul li {
        width: 100%;
    }
}

ul li a {}
