* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.custom-button {
    padding: 10px 20px;
    border-radius: 5px;
    width: fit-content;
    border: none;
    outline: none;
    margin: auto;
    margin-top: 20px;
    display: block;
    background: #0eff9f;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

h1 {
    text-align: center;
    margin: 40px 0 0;
    font-weight: 800;
    color: #444;
}

.dice {
    font-size: 100px;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roll-animation {
    display: block;
    animation-name: roll;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    margin: 0;
}

@keyframes roll {
    0% {
        transform: rotateY(0deg) rotateX(0deg);
    }

    100% {
        transform: rotateY(1020deg) rotateX(1020deg);
    }
}

.dice-number {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 10px 0;
}

.dice-number button {
    margin: 0;
    background-color: #7dd2f9;
    transition: 0.5s;
}

.dice-number button.active {
    background-color: #099de2;
}


.roll-history {
    width: 60%;
    background-color: #4444;
    margin: 2rem auto;
    border-radius: 8px;
    padding: 20px 0 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

@media (max-width: 992px) {
    .roll-history {
        width: 70%;
    }
}

@media (max-width: 678px) {
    .roll-history {
        width: 90%;
    }
}

.roll-history li {
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 5px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;

}

.roll-history li span {
    font-size: 30px;
    font-weight: normal;
}

.clear-history-btn {
    transform: translatey(-6rem);
    display: none;
}

.clear-history-btn.active {
    display: block;
}

.chart {
    width: 60%;
    display: block;
    margin: auto;
}

@media (max-width: 992px) {
    .chart {
        width: 70%;
    }
}

@media (max-width: 678px) {
    .chart {
        width: 90%;
    }
}
